<h1><%= @scenic_route.name %></h1>

<p><%= @scenic_route.description %></p>


<% @scenic_route.scenic_route_parts.all.each do |part| %>
  <% route = part.route %>
  <h2 class="station"><%= image_tag('national-rail.png') %> <%= link_to route.start_station.name, route.start_station %></h2>
  <% part.route.vois.each do |voi| %>
    <% poi = voi.poi %>
    <h2 class="voi"><%= link_to poi.name, poi_path(poi) %></h2>

    <div class="meta">
      <p>Visible on the <em><%= voi.left_side? ? "left" : "right" %></em>.</p>

      <p class="description"><%= poi.description %></p>
    </div>

  <% end %>
<% end %>

<% last_route = @scenic_route.scenic_route_parts.order('scenic_route_parts.order').last %>

<% if last_route %>

<h2 class="station"><%= image_tag('national-rail.png') %> <%= link_to last_route.route.end_station.name, last_route.route.end_station %></h2>

<% end %>
<%#= link_to 'new section', new_scenic_route_part_path(@scenic_route) %>