<!DOCTYPE html>
<html>
<head>
  <title>ScenicRailways</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  
</head>
<body>
  <div class="site-header">
    <%= link_to "Scenic Railways", root_path, :class => "site-name" %>
    <p class="tagline">Things to see from trains</p>
  </div>

  <article>

    <%= yield %>
  </article>

</body>
</html>
